.gradient-custom {
    /* fallback for old browsers */
    background: #00246B!important;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,  #CADCFC, #acc2ef)!important;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #CADCFC, #9ab5e8)!important
    }
    /* button{
background-color: #00246B!important;
border
    } */